[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
scipy = "*"
pylatexenc = "*"
qiskit = "*"
qiskit-ibm-runtime = "*"
qiskit-aer-gpu-cu11 = "*"
ipykernel = "*"
plotly = "*"
qiskit-addon-opt-mapper = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.11"
